@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.button-subscribe {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.contact-title {
  background: url("/assets/contact_bg.png") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  z-index: 99;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 10rem;
}

.contact-title-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10rem 10rem;
  width: 20%;
}

.contact-title-text-container .contact-title-text {
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
}
.contact-title-text-container .contact-body-text {
  width: 60%;
  margin: 0 auto;
}

.contact-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // padding: 0 20rem;
  margin: 0 auto;

  max-width: 70rem;
  width: 100%;
}

.address-container {
  width: 85%;
  justify-content: space-between;
}

.social-media-container {
  width: 10%;
  justify-content: center;
}

.address-container,
.social-media-container {
  border: 1px solid #f05638;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  font-size: 1.5rem;
}

.address-container .address {
  border-right: 1px solid #f05638;
  width: 60%;
  text-align: left;
  padding: 1rem 2rem;
  font-size: 1.2rem;
}

.address-container .phone-number {
  padding: 1rem 2rem;
  margin: 0 auto;
  font-size: 1.2rem;
}

.address,
.phone-number {
  color: #fff;
}

.social-icon-container {
  transition: all 0.2s ease;
}
.social-media-container .social-icon-container:hover {
  color: #f05638 !important;
  cursor: pointer;
}

.message-container {
  margin: 0 auto;
  max-width: 70rem;
  width: 100%;
  // padding: 0 20rem;
}

.message-form-container {
  border: 1px solid #f05638;
  border-radius: 1rem;
  // padding: 1rem 2rem;
  padding: 1rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  margin-top: 1rem;
  width: 100%;
}

.message-form-container .message-title-text {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 2px;
  width: 100%;
  text-align: left;
  padding: 1rem 0 2rem 0;
}

.message-form-inputs-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 2rem;
}

// .message-form-container > input {
//   width: 30%;
// }

.contact-input-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  // width: 30%;
  width: 100%;
}

.contact-input-container input {
  width: calc(100% - 32px);
  border: 1px solid transparent;
  transition: all 0.2s ease;
  //
  border-radius: 0.2rem;
  padding: 1rem;
  border: none;
  background-color: #fff;
  height: 0.7rem;
  font-size: 1.1rem;
  transition: all 0.1s ease;
}

.error-msg,
.error-msg-subs {
  opacity: 0;
  transition: all 0.2s ease;
  margin: 0.5rem 0;
  color: #ff4a4a;
}

.error-msg-subs {
  color: #540000;
}

.error-msg.show,
.error-msg-subs.show {
  opacity: 1;
}

.message-form-message-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.input-subscribe.error {
  border: 1px solid #ff4a4a;
}

.message-form-message-container .input-subscribe.message {
  width: calc(100% - 2rem);
  // height: 15rem;
  height: auto;
}

.send-message-btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 2rem 0;
}

.send-message-btn-container .button-subscribe {
  width: 100%;
}

.message-form-message-container .button-subscribe,
.message-form-message-container .button-subscribe-loading {
  border-color: #f05638;
  color: #f05638;
}
.message-form-message-container .button-subscribe:hover {
  color: #fff;
}

.button-subscribe-loading {
  border-radius: 20rem;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  width: 12rem;
  height: 2.5rem;
  line-height: 2.2rem;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
}

// Footer Contact Form

.footer-form {
  color: #fff;
}

.contact-input-container {
  margin: 0.5em 0;
}

.footer-form > .contact-input-container input {
  padding: 0.5em;
}

.footer-btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2em;
}

.footer-button {
  background-color: #f15738;
  padding: 0.8em 1em;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
  border: none;
}

.footer-button:hover {
  background-color: #be381d;
}

.footer-error {
  display: none;
}

.footer-error.show {
  display: block;
  transition: all 0.2s ease;
  margin: 0.5rem 0;
  color: #ff4a4a;
}

@media screen and (max-width: 1700px) {
  .contact-info-container {
    padding: 0 10rem;
  }
  .message-container {
    padding: 0 10rem;
  }
  // .contact-input-container {
  //   width: 28%;
  // }
}
@media screen and (max-width: 1290px) {
  .contact-info-container {
    padding: 0 5rem;
  }
  .message-container {
    padding: 0 5rem;
  }
  // .contact-input-container {
  //   width: 25%;
  // }
}

@media screen and (max-width: 1130px) {
  .address-container,
  .social-media-container {
    font-size: 1.1rem;
  }
  .social-media-container .social-icon-container {
    font-size: 1.8rem;
  }
  .contact-title-text-container .contact-body-text {
    width: 100%;
  }
  .footer-btn-container {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 880px) {
  .message-form-container {
    padding: 1rem 4rem;
  }
  .contact-title-text-container {
    padding: 10rem 5rem;
  }

  .address-container {
    width: 73%;
  }
  .social-media-container {
    width: 20%;
  }
  .address-container .address,
  .address-container .phone-number {
    padding: 1rem 0 1rem 0.5rem;
  }
}

@media screen and (max-width: 720px) {
}

@media screen and (max-width: 680px) {
  .contact-title-text-container {
    padding: 10rem 2rem;
  }

  .contact-info-container {
    padding: 0 2rem;
  }
  .message-container {
    padding: 0 2rem;
  }
  .address-container .address,
  .address-container .phone-number {
    padding: 1rem 1rem;
  }
  .address-container {
    width: 100%;
  }
  .social-media-container {
    margin-top: 1rem;
    width: 100%;
  }
  .message-form-inputs-container {
    flex-direction: column;
  }

  .contact-input-container {
    width: 100%;
    margin: 1rem 0;
  }
}
@media screen and (max-width: 510px) {
  .contact-title-text-container .contact-title-text {
    font-size: 2.5rem;
  }
  .contact-title-text-container .contact-body-text {
    display: none;
  }
  .contact-info-container,
  .message-container {
    padding: 0 1rem;
  }
  .address-container {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .address-container .address,
  .address-container .phone-number {
    width: 90%;
  }
  .address-container .address {
    border: none;
    border-bottom: 1px solid #f05638;
  }
}

@media screen and (max-width: 370px) {
  .contact-title-text-container {
    padding: 7rem 2rem;
  }
  .contact-title-text-container .contact-title-text {
    font-size: 2rem;
  }
  .send-message-btn-container {
    justify-content: center;
  }
  .send-message-btn-container .button-subscribe {
    width: 100%;
  }
}
