.post-detail-banner {
  background: url("/assets/posts_banner.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 5rem;
}

.post-detail-title-img {
  // background: url("/assets/post_detail_banner.jpg") no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 30rem;
}

.post-content-wrapper {
  padding: 5rem 10rem 0 10rem;
  display: inline-block;
}

.post-content-wrapper .post-content-container {
  width: 75%;
  padding-right: 2rem;
}

.post-content-wrapper .post-page-side-content {
  border-left: 1px solid #f05638;
  padding-left: 2.5rem;
  width: 25%;
}

.post-page-side-content > div {
  min-width: 90%;
}

.tags.selected.post-detail {
  font-size: 15px;
  margin-bottom: 1rem;
}

#post-content > p > img {
  width: 100%;
}
#post-content > figure > img {
  width: 100% !important;
  height: auto !important;
}
.heateor_sss_sharing_ul > a {
  margin: 2rem 2rem 0 0;
}

.heateor_sss_sharing_ul > a span {
  border-radius: 5px;
}

.heateor_sss_button_instagram > span {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.heateor_sss_button_twitter > span,
.heateor_sss_facebook > span {
  display: none !important;
}

@media screen and (max-width: 1280px) {
  .post-content-wrapper {
    padding: 5rem 5rem 0 5rem;
  }
  .post-content-wrapper .post-content-container {
    width: 100%;
    padding-right: 0;
  }
  .post-page-side-content {
    display: none !important;
  }
}
@media screen and (max-width: 850px) {
  .post-content-wrapper {
    padding: 5rem 2rem 0 2rem;
  }

  .post-detail-title-img {
    height: 15rem;
  }
}
