@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.solutions-title {
  background: url("/assets/solutions/solutions_title_bg.png") no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  z-index: 99;
  position: absolute;
}

.solutions-title-text-container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 5%;
  flex-direction: column;
}

.solutions-title-text-container .solutions-title-text {
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
}
.solutions-title-text .text-1 {
  display: block;
}
.solutions-title-text .text-2 {
  display: none;
}

.solutions-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;
  z-index: 20;
}

#solution-section-icon-1 {
  padding-top: 10%;
}

.solutions-content .solutions-text-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 1rem;
  text-align: center;
}
.solutions-text-container .solutions-section-title {
  color: #ffbf64;
  letter-spacing: 4px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 2rem;
  font-size: 2.4rem;
}
.solutions-section-title:hover {
  color: #f05638;
}

.solutions-container .solutions-content .solutions-icon {
  max-width: 12rem;
  margin: 0 auto;
}
.solutions-container .solutions-content .solutions-icon.icon-1 {
  padding-top: 300px;
}
.solutions-container .solutions-content .solutions-icon.icon-3 {
  max-width: 10rem;
}

.solutions-analysis-logos {
  max-width: 10rem;
  margin: 0 1rem;
}

.solutions-analysis-stack {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 2560px;
  padding-left: 5rem;
  padding-right: 5rem;
}

.work-flow-chart.small {
  display: none;
}

@media screen and (min-width: 2900px) {
  .solutions-title {
    clip-path: inset(8% 0 0 0);
    margin-top: -5%;
  }
  .solutions-title-text-container {
    margin-top: 2%;
  }
}

@media screen and (min-width: 4000px) {
  .solutions-title-text-container {
    margin-top: 3%;
  }
}

@media screen and (max-width: 1900px) {
  .solutions-analysis-stack {
    flex-direction: column !important;
    justify-content: center !important;
  }
  .stack-divider {
    display: none !important;
  }
  .solutions-analysis-stack .database {
    margin-top: 2rem;
  }
  .solutions-analysis-stack > div > h6 {
    justify-content: center;
    text-align: center !important;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 1600px) {
  .solutions-title-text-container {
    padding: 3% 10rem;
  }
  .solutions-title-text-container .solutions-title-text {
    font-size: 2.2rem;
  }
  .solutions-title {
    height: 450px;
  }
  .solutions-container .solutions-content .solutions-icon.icon-1 {
    padding-top: 350px;
  }
}
@media screen and (max-width: 1300px) {
  .solutions-title-text-container {
    padding: 2% 10rem;
  }
  // .work-flow-chart {
  //   content: url("/assets/solutions/work_flow_medium.png");
  // }
  .solutions-title-text-container .solutions-title-text {
    font-size: 1.8rem;
  }
  .solutions-title-text-container .solutions-body-text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1120px) {
  .solutions-title-text-container {
    padding: 8% 2rem 2rem 2rem;
  }
  .solutions-title-text-container .solutions-body-text {
    display: none;
  }
  .solutions-container .solutions-content .solutions-icon.icon-1 {
    padding-top: 300px;
  }
  .solutions-content .solutions-text-container {
    width: 100%;
  }
  .stack-analysis-text {
    display: none;
  }
  .solutions-title-text-container .solutions-title-text {
    font-size: 2.4rem;
  }

  .solutions-title {
    background: url("/assets/solutions/solutions_title_bg_big.png") no-repeat;
    background-size: 100%;
    width: 100%;
    height: 335px;
    z-index: 99;
    position: absolute;
  }
}
@media screen and (max-width: 850px) {
  .solutions-title-text-container {
    padding: 3% 2rem 2rem 2rem;
  }

  .solutions-title-text-container .solutions-title-text {
    font-size: 2rem;
  }
  .solutions-container .solutions-content .solutions-icon.icon-1 {
    padding-top: 200px;
  }
  .solutions-section-body-quote {
    font-size: 1.9rem !important;
    letter-spacing: 1px !important;
  }
  .solutions-section-body {
    font-size: 1.6rem !important;
    text-align: justify !important;
  }
  
  .work-flow-chart {
    // content: url("/assets/solutions/work_flow_small.png");
    display: none;
  }
  .work-flow-chart.small {
    // content: url("/assets/solutions/work_flow_small.png");
    display: block;
  }
}
@media screen and (max-width: 650px) {
  .solutions-title {
    background: url("/assets/solutions/solutions_small_title_bg.png") no-repeat;
    padding-top: 1.5rem;
    height: 120px;
  }
  .solutions-title-text-container {
    padding-top: 4%;
  }
  .solutions-analysis-logos {
    max-width: 7.5rem;
  }
  .solutions-title-text .text-1 {
    display: none !important;
  }
  .solutions-title-text .text-2 {
    display: block;
  }
}
@media screen and (max-width: 580px) {
  .solutions-title-text-container .solutions-title-text {
    font-size: 2rem;
    width: 100%;
  }
  .solutions-container .solutions-content .solutions-icon {
    max-width: 6rem;
  }
  .solutions-container .solutions-content .solutions-icon.icon-3 {
    max-width: 4.5rem;
  }
  .solutions-analysis-stack {
    display: none !important;
  }
  .techs-container {
    display: none !important;
  }
}
@media screen and (max-width: 450px) {
  .solutions-title-text-container {
    padding: 3% 1rem 2rem 1rem;
  }
  .solutions-container .solutions-content .solutions-icon {
    max-width: 4rem;
  }
  .solutions-container .solutions-content .solutions-icon.icon-3 {
    max-width: 3rem;
  }
  .solutions-text-container .solutions-section-title {
    font-size: 1.5rem;
  }
  .solutions-section-body-quote.icon-2 span {
    display: none;
  }
  .solutions-section-body-quote.icon-2:after {
    content: '"MEJORA, ADÁPTATE, SUPÉRATE"';
  }
  .work-flow-chart {
    margin-top: 2rem;
    // content: url("/assets/solutions/work_flow_small.png");
  }
}
@media screen and (max-width: 350px) {
  .solutions-title-text-container {
    padding-top: 1%;
  }
}
